@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --White: hsl(0, 0%, 100%);

  /* main bg */
  --mainBG: hsl(217, 54%, 11%);

  /* card bg */
  --cardBG: hsl(216, 50%, 16%);

  /* line */
  --line: hsl(215, 32%, 27%);
}

html {
  /* 10px / 16px = 62.5% */
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--SoftBlue);
}

body {
  background-color: var(--mainBG);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
}

.container {
  max-width: 40rem;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
}

.component {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 2.8rem 0 1.6rem rgba(0, 0, 0, 0.1);
  background: var(--cardBG);
  padding: 2.4rem;
  padding-bottom: 3rem;

  border-radius: 2.8rem;
}

.nft-img {
  width: 100%;
  border-radius: 1.4rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.nft-name {
  margin-bottom: 2.4rem;
}

.nft-name a:link,
.nft-name a:visited,
.profile a:link,
.profile a:visited {
  color: var(--White);
  transition: 0.3s;
}

.nft-name a:hover,
.nft-name a:active,
.profile a:hover,
.profile a:active {
  color: var(--Cyan);
}

.nft-info {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px var(--line) solid;
}

.countdown span {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
}

.countdown span:first-child {
  color: var(--Cyan);
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile img {
  width: 4rem;
  height: 4rem;
  border: 1px var(--White) solid;
  border-radius: 50%;
}

.attribution {
  font-size: 1.8rem;
  text-align: center;
}
.attribution a {
  color: var(--Cyan);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/* MEDIA QUERIES */
/* Large phones */
/* 430px / 16px = 26.875em */
@media (max-width: 26.875em) {
  .component {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 2.8rem 0 1.4rem rgba(0, 0, 0, 0.06);

    padding: 2.6rem;
  }

  .attribution {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* Medium phones*/
/* 375px / 16px = 23.4375em */
@media (max-width: 23.4375em) {
  .container {
    width: 35rem;
  }

  .profile {
    gap: 1.2rem;
    font-size: 1.2rem;
  }

  .profile img {
    width: 3.6rem;
    height: 3.6rem;
  }
}

/* Small phones */
/* 320px / 16px = 20em */
@media (max-width: 20em) {
  p {
    font-size: 1.4rem;
  }
  .container {
    width: 30rem;
  }

  .countdown span {
    font-size: 1.4rem;
  }

  .profile img {
    width: 3.4rem;
    height: 3.4rem;
  }

  .attribution {
    font-size: 1rem;
  }
}
